*{margin:0; padding:0; font-family: 'Pontano Sans', sans-serif; font-size:14px; color:#959595;}
a{text-decoration:none;}
image{border:none;}

.clearing{clear:both;}

.header-wrapper{position: relative; width:960px; height:auto; background:#000033; overflow:hidden; margin: 0 auto;}
.header{width: 960px; margin:0 auto; margin-top:40px; overflow:hidden;}
.header-content{width:960px; height:100px;}

.ucsd-logo{position: relative; float: right; padding-top: 20px; padding-right: 30px;}
/*.logo-divider{position:relative; float:left;}*/
.logo{position:relative; float:left;}
.logo h1{font-family: 'Playfair Display', serif; font-size:24px; color:#ffffff; font-weight:normal; padding-top:10px; padding-left: 30px;} 

.menu{float:right; padding-top:30px; padding-left: 300px;}
.menu ul{list-style:none;}
.menu li{float:left; width:70px; height:30px; padding-right:14px;}
.menu li a{font-size:12px; font-weight:normal; color:#ffffff; width:80px; height:30px; line-height:30px; text-align:center; display:block;}
.menu li a:hover{font-size:13px; font-weight: bolder; color:#ffffff; text-align-center;}
.menu li a.active{color:#ffc103; font-weight: bolder; background-color: #ffffff;}


.banner{width:960px; height:371px; background:url(../images/banner-img.jpg) no-repeat; margin:0 auto; top:10px;}

.panel-wrapper{width:960px; height:350px; background:#f1f1f1; overflow:hidden; margin: 0 auto;}

.generic-content-wrapper{width:100%; height:auto; overflow:hidden; padding-top:20px; padding-left: 80px;}
.generic-content{width:960px; margin:0 auto; margin-top:30px;}
.content{width:300px; float:left;}
.content h1{font-family: 'Playfair Display', serif; font-size:22px; font-weight:normal; color:#22a8f0;}
.content h2{font-size:16px; font-weight:normal; color:#ffc103; padding-bottom:20px;}
.content p{line-height:20px; padding-bottom:30px;}
a.more{width:90px; height:30px; line-height:30px; font-family: 'Playfair Display', serif; font-size:14px; color:#ffffff; display:block;text-align:center; background:url(../images/btn-more-n.gif) no-repeat;}

a.more:hover{width:90px; height:30px; line-height:30px; font-family: 'Playfair Display', serif; font-size:14px; color:#ffffff; display:block;text-align:center; background:url(../images/btn-more-h.gif) no-repeat;}
.marRight{margin-right:30px;}


.content1{width:630px; float:left; padding-bottom:60px;}
.content1 h1{font-family: 'Playfair Display', serif; font-size:22px; font-weight:normal; color:#22a8f0;}
.content1 h2{font-size:16px; font-weight:normal; color:#ffc103; padding-bottom:20px;}
.content1 p{line-height:20px; padding-bottom:30px;}

.content2{ width: 300px; float:left; }
.content2 h1{font-family: 'Playfair Display', serif; font-size:22px; font-weight:normal; color:#22a8f0;}
.content2 h2{font-size:16px; font-weight:normal; color:#ffc103; padding-bottom:20px;}
.content2 p{line-hieght:20px; color:#ffffff; padding:24px;}
.content2 h3{font-family: 'Playfair Display', serif; font-size:14px; font-weight:normal; color:#ffc103;}
.content2 h3 span span{color:#22a8f0; color:#ccc8c8;}
a.readmore{ color:#22a8f0; font-size:14px; font-weight:normal; float:right; }
a.readmore:hover{ color:#ffc103; font-size:14px; font-weight:normal;}

.footer-strip-wrapper{width:960px; height:auto; background:#22a8f0; overflow:hidden; margin: 0 auto;}
.footer-strip{width:670px; margin:0 auto; margin-top:20px; margin-bottom:20px;}
.footer-strip p{color:#ffffff; text-align: center;}
a.footerlink{color:#ffffff;}
a.footerlink:hover{color:#222156;}


/* inner page styles start */
.container{width:100%; overflow:hidden; height:auto;}
.col-wrapper{width:960px; margin:0 auto; overflow:hidden; margin-top:60px;}
.col1{width:300px; float:left;}
.col1 h1{font-family:'Playfair Display', serif; font-size:22px; font-weight:normal; color:#22a8f0; padding-bottom:20px;}
.col1 p{line-height:20px;  padding-bottom:30px;}
.col1 ul{list-style:none;}
.col1 li{border-bottom:1px solid #dedede;  background:url(../images/arrow.gif) no-repeat left; float:left; padding-left:20px; width:260px;}
.col1 li.bdrBottom{border-bottom:none;}
.col1 li a{ line-height:40px; height:40px; font-size:14px; text-align:center;}
.col1 li a:hover{line-height:40px; height:40px; font-size:14px; color:#22a8f0;}

.col2{width:630px; float:left; }
.col2 h1{font-family:'Playfair Display', serif; font-size:22px; font-weight:normal; color:#22a8f0; padding-bottom:20px;}
.col2 p{line-height:20px; padding-bottom:30px;}
.col2 a{color:#22a8f0;}

/* people table */
.people{margin:5px;padding=5px 0px;width=650px}
.people tr{text-align: left;vertical-align: top;width:25%; line-height:10px;}
.people td{margin:15px;padding:20px;}
.people td img {border: solid;border-color:#eeeeee;}
.people a {color: #00ace6; font-weight: bold;}




