
#crossfade_revolver { position: relative; }
#crossfade_revolver img {
	          position: absolute;
		  	  top: 0;
		  	  left: 0;
	          z-index: 1;
			  background-color: white;
		    }
#crossfade_revolver img.active{ z-index: 3 }

