
H1 {
    font-size: x-large;
    font-weight: bold;
    width: 90%;
    border-bottom: 1px solid gray;
}

H2 {
    font-size: large;
    font-weight: bold;
    width: 40%;
    border-bottom: 1px solid gray;
    /* border-right: 1px solid gray; */
}

img.unstick {
	margin: 5px;
}

/* Force next block */
div.clear {

    clear: both;

}

div.leftside1 {

    float: left;
    width: 180px;
    height:140px;

}

div.rightside1 {

    height:140px;

}

div.leftside2 {

    float: left;
    width: 140px;
    height:220px;

}

div.rightside2 {

    height:220px;

}
